<div class="flex gap-8 bg-[#F5F5F5] p-5 justify-center mt-4 xl:rounded-lg">
  <div class="flex flex-col gap-4">
    <p class="text-[#BCBCBC] text-xs">Nama</p>
    <p class="text-[#BCBCBC] text-xs">Nomor Whatsapp (Wa)</p>
    <p class="text-[#BCBCBC] text-xs">Alamat</p>
    <p class="text-[#BCBCBC] text-xs">Waktu diantar (13:00 s/d 19:00)</p>
  </div>
  <form #form="ngForm">
    <div class="flex flex-col gap-4">
      <input
        #box="ngModel"
        required
        minlength="5"
        type="text"
        name="name"
        (keyup)="onKey()"
        [(ngModel)]="userInfo.name"
        class="focus:outline-none border pl-3 text-xs rounded-3xl shadow-[0_4px_4px_rgba(0,0,0,0.25),0_4px_4px_rgba(0,0,0,0.3)]"
      />
      <input
        required
        name="number"
        type="number"
        [(ngModel)]="userInfo.number"
        (keyup)="onKey()"
        class="focus:outline-none border text-xs pl-3 rounded-3xl shadow-[0_4px_4px_rgba(0,0,0,0.25),0_4px_4px_rgba(0,0,0,0.3)]"
      />
      <textarea
        required
        autosize
        [(ngModel)]="userInfo.address"
        [minRows]="1.1"
        type="text"
        placeholder="Kec, kel, detail"
        name="address"
        (keyup)="onKey()"
        class="resize-none focus:outline-none border pl-3 pr-3 text-xs rounded-3xl shadow-[0_4px_4px_rgba(0,0,0,0.25),0_4px_4px_rgba(0,0,0,0.3)]"
      ></textarea>
      <input
        required
        name="time"
        type="text"
        [(ngModel)]="userInfo.time"
        placeholder="13:00"
        (keyup)="onKey()"
        class="focus:outline-none border text-xs pl-3 rounded-3xl shadow-[0_4px_4px_rgba(0,0,0,0.25),0_4px_4px_rgba(0,0,0,0.3)]"
      />
    </div>
  </form>
</div>
