<div class="bg-[#F5F5F5] py-2 mt-8 xl:rounded-lg">
  <div
    class="flex gap-4 mt-2 mb-3 justify-between items-end lg:w-10/12 m-auto px-7"
    *ngFor="let item of order; index as i"
  >
    <div class="flex gap-4">
      <img class="w-20 h-20 rounded-2xl" src="{{ item.image }}" alt="" />
      <div class="flex flex-col gap-7">
        <div class="flex justify-between">
          <div>
            <h1 class="font-semibold text-sm">{{ item.name }}</h1>
            <p class="text-xs">
              {{ item.price | currency : "IDR" : "symbol" : "3.0" }}
            </p>
          </div>
        </div>

        <button
          class="w-14 text-[10px] border-black border-[1px] rounded-full px-2 shadow-lg"
          (click)="getNote(item.id, item.name)"
        >
          Catatan
        </button>
      </div>
    </div>

    <div class="flex flex-col gap-14 items-end">
      <div class="flex items-center justify-center gap-2 flex-shrink-0">
        <button class="" (click)="reduceOrder(item.id)">
          <img src="assets/img/min.svg" />
        </button>
        <div class="text-xs w-2 flex justify-center">{{ item.amount }}</div>
        <button
          class=""
          (click)="addOrder(item.price, item.id, item.name, item.image)"
        >
          <img src="assets/img/plus.svg" />
        </button>
      </div>
    </div>
  </div>

  <div class="w-full h-[1px] bg-[#BCBCBC] bg-opacity-80"></div>
  <div class="flex items-center justify-between mt-1 lg:w-10/12 m-auto px-7">
    <div>
      <h1 class="font-semibold text-sm">Ada lagi pesanannya?</h1>
      <p class="text-xs">Masih bisa nambah menu lain, ya</p>
    </div>
    <div>
      <button
        routerLink="/menu"
        class="border-[#28A748] border-2 h-5 text-xs text-[#28A748] px-7 rounded-lg"
      >
        Tambah
      </button>
    </div>
  </div>
</div>
