<div *ngIf="menu" class="xl:w-2/5 xl:m-auto ml-9 mr-9 mt-5 h-screen">
  <h1 class="text-xl font-semibold">Menu</h1>
  <h2>Choose your delicious meal</h2>
  <div class="flex flex-col">
    <app-cards [order]="order" (newItemEvent)="order = $event"></app-cards>
    <app-checkout
      (switchView)="switchView($event)"
      [order]="order"
    ></app-checkout>
  </div>
</div>
<div class="mt-5 h-screen" *ngIf="menu === false">
  <app-payment
    [order]="order"
    [menu]="menu"
    (switchView)="switchView($event)"
    (notifyGrandParent)="grandmaHandleClick($event)"
  ></app-payment>
</div>
