<div class="flex justify-center items-center flex-col">
  <img class="w-52" src="assets/img/pastaboys.svg" />
  <h1 class="font-bold">Halo Pasta Friends!</h1>
  <h1 class="font-bold">Aplikasi Pastaboys sedang dalam perbaikan 🤗</h1>
  <h1 class="font-bold">
    Untuk pemesanan mohon hubungi melalui Instagram pastaboys ya
  </h1>
  <div class="flex justify-center items-center mt-8">
    <button
      (click)="confirm()"
      class="bg-[#E28F42] mb-2 py-2 px-3 w-72 rounded-3xl text-lg text-white font-semibold border-white border-[1px] drop-shadow-[0_4px_4px_rgba(0,0,0,0.3)]"
    >
      Pesan
    </button>
  </div>
</div>
