<div class="grid mt-10 gap-4 gap-y-10 grid-cols-2 grid-rows-2">
  <div
    class="border-[#C5C5C5] border-[1px] rounded-2xl"
    *ngFor="let item of items; index as i"
  >
    <div class="flex flex-col items-center p-3">
      <div [routerLink]="['/menu', item.id]" class="cursor-pointer">
        <img
          class="rounded-full h-28 w-28 m-auto mb-2"
          src="{{ item.image }}"
        />
        <p class="text-xs font-bold">{{ item.name }}</p>
        <p class="text-xs font-semibold">
          {{ item.price | currency : "IDR" : "symbol" : "3.0" }}
        </p>
      </div>
      <div class="mt-10 mb-0">
        <button
          *ngIf="order[renderAmount(item.id)]?.amount < 1"
          class="border-[#28A748] border-2 h-5 text-xs text-[#28A748] px-7 rounded-lg"
          (click)="pushOrder(item.price, item.id, item.name, item.image)"
        >
          Tambah
        </button>
        <div
          *ngIf="order[renderAmount(item.id)]?.amount > 0"
          class="flex justify-between items-center gap-1"
        >
          <button
            (click)="getNote(item.id, item.name)"
            class="text-[10px] border-black border-[1px] rounded-full px-2 shadow-lg"
          >
            Catatan
          </button>
          <div class="flex items-center justify-center gap-2 flex-shrink-0">
            <button (click)="reduceOrder(item.id)" class="">
              <img src="assets/img/min.svg" />
            </button>
            <div class="text-xs w-2 flex justify-center">
              {{ order[renderAmount(item.id)]?.amount }}
            </div>
            <button
              (click)="pushOrder(item.price, item.id, item.name, item.image)"
              class=""
            >
              <img src="assets/img/plus.svg" />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
