<div
  class="bg-cover h-screen relative top-0 left-0"
  style="background-image: url(/assets/img/marbel.png)"
>
  <img class="relative top-0 left-0" src="/assets/img/rect.png" />
  <img class="absolute top-0 left-0" src="/assets/img/pasta.png" />

  <div
    class="flex flex-col gap-16 items-center absolute mr-auto ml-auto top-44 left-0 right-0"
  >
    <img src="/assets/img/pastaWelcome.png" />
    <div class="flex flex-col items-center">
      <p class="text-3xl text-white font-bold">Selamat Datang</p>
      <img class="w-36" src="/assets/img/pastaboys.png" />
    </div>
    <button
      class="bg-[#606767] w-48 h-12 text-white text-xl font-bold rounded-full"
    >
      Get a meal
    </button>
  </div>
</div>
