<div class="flex items-center justify-start gap-2 ml-6">
  <img routerLink="/menu" src="assets/img/arrow.svg" alt="" />
  <img class="h-10" src="assets/img/pastaboys.png" alt="" />
</div>
<div class="w-full h-[1px] bg-[#BCBCBC]"></div>
<!-- faq -->
<div class="max-[360px]:flex-wrap flex mt-5 gap-2 ml-4 justify-center">
  <div class="flex items-start gap-2">
    <img class="w-9" src="assets/img/clock.svg" alt="" />
    <div class="w-44">
      <h2 class="font-semibold text-sm">Pesan antar</h2>
      <p class="text-xs font-medium">
        Sistem Pre Order hingga hari jumat dan diantar hari sabtu
      </p>
    </div>
  </div>
  <div class="flex items-start gap-2">
    <img class="w-9" src="assets/img/location.svg" alt="" />
    <div class="w-44">
      <h2 class="font-semibold text-sm">Alamat</h2>
      <p class="text-xs font-medium">Khusus daerah Malang</p>
    </div>
  </div>
</div>
