<div class="xl:w-2/5 xl:shadow-md h-screen m-auto">
  <!-- Header -->

  <app-head></app-head>
  <!-- Input info -->
  <app-input></app-input>
  <!-- list -->
  <app-list (setSwitchView)="setSwitch()"></app-list>

  <app-ringkasan [order]="order"></app-ringkasan>
  <!-- pesan -->
  <div class="flex justify-center items-center mt-8">
    <button
      (click)="log()"
      class="bg-[#E28F42] mb-2 py-2 px-3 w-72 rounded-3xl text-lg text-white font-semibold border-white border-[1px] drop-shadow-[0_4px_4px_rgba(0,0,0,0.3)]"
    >
      Pesan
    </button>
  </div>
</div>
